flows(1).json
[{"id":"4d584f07.e54e68","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"97b8c94b.f071b","type":"ui_form","z":"4d584f07.e54e68","name":"","label":"","group":"e1cb189.42b7ae8","order":0,"width":0,"height":0,"options":[{"label":"Slope","value":"sl","type":"number","required":true,"rows":null},{"label":"Forest Density ","value":"fd","type":"text","required":true,"rows":null},{"label":"Snow Density ","value":"sd","type":"number","required":true,"rows":null},{"label":"Air Temperature ","value":"at","type":"number","required":true,"rows":null},{"label":"Wind ","value":"wi","type":"number","required":true,"rows":null}],"formValue":{"sl":"","fd":"","sd":"","at":"","wi":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":400,"wires":[["d6e0c04f.acf42"]]},{"id":"d6e0c04f.acf42","type":"function","z":"4d584f07.e54e68","name":"Pre Token ","func":"global.set(\"sl\",msg.payload.sl)\nglobal.set(\"fd\",msg.payload.fd)\nglobal.set(\"sd\",msg.payload.sd)\nglobal.set(\"at\",msg.payload.at)\nglobal.set(\"wi\",msg.payload.wi)\nvar apikey= \"Zx0yjz48IVHvlj_SFSh7h7apsw4v6xAZRFiZlNwv5Y8y\";\nmsg.headers={\"Content-Type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":400,"wires":[["26f99694.f565ba"]]},{"id":"26f99694.f565ba","type":"http request","z":"4d584f07.e54e68","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":340,"wires":[["f524edf2.fe687"]]},{"id":"f524edf2.fe687","type":"function","z":"4d584f07.e54e68","name":"Pre Prediction","func":"var sl  = global.get('sl')\nvar fd  = global.get('fd')\nvar sd  = global.get('sd')\nvar at  = global.get('at')\nvar wi  = global.get('wi')\nvar token=msg.payload.access_token\nvar instance_id=\"c8ceb58c-ac5d-4faf-89e5-54a4ebd7415d\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Slope\", \"Forest Density\", \"Snow Density\", \"Air Temperature\", \"Wind\"],\"values\":[[sl,fd,sd,at,wi]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":260,"wires":[["94a8f6b0.bbb43"]]},{"id":"94a8f6b0.bbb43","type":"http request","z":"4d584f07.e54e68","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/e8b6056f-b40a-4541-88dc-aa96ee0eabf7/predictions","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":200,"wires":[["954e535b.807f9","55c00e82.bfc138"]]},{"id":"954e535b.807f9","type":"function","z":"4d584f07.e54e68","name":"","func":"msg.payload= msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":80,"wires":[["edc2d5a8.03a74"]]},{"id":"55c00e82.bfc138","type":"debug","z":"4d584f07.e54e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":80,"wires":[]},{"id":"edc2d5a8.03a74","type":"ui_text","z":"4d584f07.e54e68","group":"e1cb189.42b7ae8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":320,"wires":[]},{"id":"e1cb189.42b7ae8","type":"ui_group","z":"","name":"avalanche","tab":"cc5b9e62.9fd758","order":1,"disp":true,"width":"6","collapse":false},{"id":"cc5b9e62.9fd758","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]